//colors

$primary-font-color: #424242;
$font-blue: #0070BF;
$font-black1: #282E3D;
$font-white: #FFFFFF;
$font-grey: #CBCED4;
$font-promo: #F2FBFF;

$primary-color: #FEC700;
$primary-color1: #C99a0c;

$primary-color-lighten: #ffeeb3;
$primary-color-lighten1: #fff9e6;

$primary-rgba: rgba(227,174,14,0.1);
$primary-rgba1: rgba(227,174,14,0.7);
$primary-rgba2: rgba(254,199,0, 0.2);
$primary-rgba3: rgba(254,199,0,0.1);
$primary-rgba4: rgba(254,199,0,0.5);
$primary-rgba5: rgba(254,199,0,0.6);
$primary-rgba6: rgba(254,199,0,0.3);
$primary-rgba7: rgba(254,199,0,0.7);

$shadow-primary: #E3AE0E;
$nav-bg: #9e9e9e;

$grey-shadow: rgba(112,112,112,0.4);
$grey-shadow1: rgba(112,112,112,0.1);



$feedback-bg: rgba(0,112,191,0.1);
$feedback-bg1: rgba(0,112,191,0.4);


$pink-bg: #EEEFF1;
$promo-bg: #0070BF;
$yellow-bg: #FEC700;
$copyright-bg: #203561;

//other

$n: none;

$anim: all 0.5s linear;
$anim1: all 0.2s linear;

$sprite: url("../img/sprite/sprite.png") no-repeat;

/*------------------
--------colors------
-------------------*/

//цвет текста #424242
//основной цвет #FEC700

//для доступа к переменным открыть yellow.scss файл в корневой директории

body {
    color: $primary-font-color;
}

.button:hover {
    box-shadow: 0 2px 0  0 #E3AE0E;
}

//header stilization

.main-header {
    .header-button {
        color: $primary-font-color;
        border: 1px solid $primary-color;
    }
    .header-button:hover {
        background: $yellow-bg;
    }
    .mdi-city:hover::before {
        color: $primary-font-color;
    } 
    .header-list_item a {
        color: $primary-font-color;
    }
    
    .header-list-second {
        a {
            color: $primary-font-color;
        }
        
        .tagline-link {
            color: $primary-font-color;
        }
    }
}

.header-button {
    border: 1px solid $primary-color;
}

.header-list_item::before {
    background: $primary-color;

}

.main-header {
    .mdi-city::before {
        color: $primary-color;
    }
}

.header-slider {
    .content-bottom_right { 
        .slider-button{
            border: 1px solid $primary-color;
            background: $primary-color;
            color: $font-black1;
            
            a {
                color: $font-black1;
            }
        }
        .slider-button::before {
            color: $font-black1;
        }
        .slider-button:hover {
                background: $primary-color;
                color: $primary-font-color;
                
                a {
                    color: $primary-font-color;
                }
            }
            
            .slider-button:hover::before {
                color: $primary-font-color;
            }
    }
}


//navigation stilization

.main-nav_list {
    .main-nav_item {
        background: #eff0f2;
        
        a {
            color: $primary-font-color;
        }
    }
    
    .main-nav_item:hover {
        background: $primary-color;
    }
}

//features top/bottom stilization

.features-top_list {
    .features-top_item:not(:last-child) {
        border-right: 1px solid rgba(112,112,112,0.4);
    }
    
    .features-top_first {
        .title::after {
            background: rgba(112,112,112,0.1);
        }
    }
    
    .features-top_second {
        .title::after {
            background: rgba(112,112,112,0.1);
        }
    }
    
    .features-top_third {
        .title::after {
            background: rgba(112,112,112,0.1);
        }
    }
    
    .features-top_fourth {
        .title::after {
            background: rgba(112,112,112,0.1);
        }
    }
    
    .title {
        color: #282E3D;
    }
    
    .title::before  {
        color: $font-blue;
    }
}

.features-bottom_button {
    background: rgba(227, 174, 14, 0.1);
    border: 1px solid $primary-color;
}

.features-bottom_list {
    .mdi-arrow-right::before {
        color: #FEC700;
    }
}

//location stilization

.location {
    .locsation-tagline {
        color: $font-blue;
    }
}

.filter-item_icon:hover {
    background: $primary-color;
}

.activeMap {
    background: $primary-color!important;
}

//flatoghraphy stilization

.flatography-list_item {
    border: 1px solid rgba(217, 242, 255, 0.4);
}

.flatography-button {
    border: 1px solid $primary-color;
}

.flatography-button:hover {
    background: $primary-color;
}

//mortgage stilization

.mortgage-button {
    color: $primary-font-color;
    border: 2px solid $primary-color;
    background: rgba(227, 174, 14, 0.1);
    transition: $anim1;
}

.mortgage-button:hover {
    background: $primary-color;
}

.buying-top {
    .tagline-link::before{
        background: $primary-color;
    }
}

//slaes stilization

.sales {
    .button-content {
        background: rgba(227, 174, 14, 0.1);
        color: $primary-color;
    }
    
    .sales-bottom_content:hover .button-content {
        background: #FEC700;
        box-shadow: 0 2px 0  0 #E3AE0E;
        color: white;
    }
}

//architecture stilization

.architecture-tagline_first {
    color: $font-blue;
}

//promo stilization

.promo {
    color: $font-promo;
    
    .promo-content {
        background: $promo-bg;
    }
}

.promo::before {
    background: $promo-bg;
}

.image-container::before {
     background: rgba(255, 255, 255, 0.7);
}

//feedback stilization

.feedback {
    background: rgba(0, 112, 191, 0.1);
    
    .feedback-form {
        .fedback-input {
            color: $promo-bg;
            border-bottom: 2px solid $promo-bg;
        }
        
        .feedback-button {
            background: $primary-color;
        }
    }
}

//footer stilization

.footer-list_title:hover {
    color: $primary-color;
}

.footer-bottom_wrap {
    background: #203561;
}

//slider stilization

.slick-prev {
    background: rgba(255,255,255,0.2)!important;
}

.slick-prev:hover {
    background: rgba(254,199,0, 0.2)!important;
} 

.slick-prev:hover::before,
.slick-next:hover::before,
.slick-prev:hover::after,
.slick-next:hover::after{
    background: $primary-color;
}  

.slick-next  {
    background: rgba(255,255,255,0.2)!important;
}

.slick-next:hover {
    background: rgba(254,199,0, 0.2)!important;
}

.slick-dots {
    .slick-dot {
        border: 1px solid white!important;
    }
    
    .active {
        background: $primary-color!important;
        border: none!important;
    }
}

.sales {
    .slick-next {
        background: #EEEFF1!important;
    }
    
    .slick-next::before {
        background: #9E9E9E;
    }
    
    .slick-next::after {
        background: #9E9E9E;
    }
    
    .slick-prev{
        background: #EEEFF1!important;
    }
    
    .slick-prev::before {
        background:#9E9E9E;
    }
    
    .owl-prev::after {
        background: #9E9E9E;
    }
    
    .slick-next:hover,
    .slick-prev:hover {
        background: $primary-color!important;
    }
}

.flatography {
    .slick-next {
        background: #EEEFF1!important;
    }
    
    .slick-next::before {
        background: #9E9E9E;
    }
    
    .slick-next::after {
        background: #9E9E9E;
    }
    
    .slick-prev  {
        background: #EEEFF1!important;
    }
    
    .slick-prev::before {
        background: #9E9E9E;
    }
    
    .slick-prev::after {
        background: #9E9E9E;
    }
    
    .slick-next:hover,
    .slick-prev:hover {
        background: $primary-color!important;
    }
}

.other {
    .slick-next {
       background: #EEEFF1!important;
    }
    
    .slick-next::before {
        background: #9E9E9E;
    }
    
    .slick-next::after {
        background: #9E9E9E;
    }
    
    .slick-prev {
        background: #EEEFF1!important;
    }
    
    .slick-prev::before {
        background: #9E9E9E;
    }
    
    .slick-prev::after {
         background: #9E9E9E;
    }
    
    .slick-next:hover,
    .slick-prev:hover {
        background: $primary-color!important;
    }
    
    .slick-dots {
        .slick-dot {
            border:1px solid #CBCED4!important;
        }
    }
}

.header-list_item:hover {
    a {
        color: $primary-color;
     }
}

.tagline-link:hover {
    animation: taglineColor 0.2s linear forwards;
}

.header-list_item {
    .tagline-link::before {
        background: $primary-color;
    }
}

.tagline-link::before {
    background: $primary-color;
}

//footer stilization

footer .footer-top .top-list_item a {
    transition: $anim1;
}

footer .footer-top .top-list_item:hover a {
    color: $primary-color;
}

footer .footer-top .footer-tel:hover {
   color: $primary-color;
}

@keyframes taglineColor {
    from {
        color: $primary-font-color;
    }
    
    to {
        color: $primary-color;
    }
}


.error-message {
    color: red;
}

.fedback-input:valid:not(:placeholder-shown) {
    border-color: $promo-bg;
}

.fedback-input:invalid:not(:placeholder-shown) {
    border-color: red;
}

.this-page_nav {
    background: white!important;
    border: 1px solid $primary-color;
    
    &:hover {
        a {
            color: $primary-font-color!important;
        }
    } 
}

.page-title_blue {
    color: $font-blue;
}

.favorites {
    background: $primary-color;
    
    .mdi-cards-heart {
        color: $font-black1;
    }
}

.header-slider_wrap {
    background-color: $primary-font-color;
    background: $primary-font-color;
}

.other .image-container {
    background: $primary-rgba1;
}

footer {
    .footer-top {
        border-top: 2px solid $pink-bg;
        border-bottom: 2px solid $pink-bg;
    }
}

.tech-wrap_top {
    background: $promo-bg;
}

.buyP-ipoteca {
    .buyP-ipoteca_left {
        .page-title {
            color: $font-blue;
        }
    }
}

.buyP-description_first {
    .first-left_inner {
        border-top: 2px solid $font-blue;
        border-bottom: 2px solid $font-blue;
    }
}

.buyP-description_second {
    .tagline-link::before  {
        background: $primary-color;
    }
}

.buyP-description_third {
    .buyP-description_third_right {
        background: linear-gradient(to left, #0078CE,#008AEB);
        box-shadow: 0 10px 20px 0 $feedback-bg1;
    }
    
    .desc-tel {
        
        &::before {
            background: $primary-color;
        }
        
        &:hover {
            color: $primary-color;
        }
    }
}

.popup-container {
    .popup_item {
        
        &::before {
            background: $font-blue;
        }
    }
}

.close-popup {
    background: $primary-color;
    
    &:hover {
        box-shadow: 0 2px 0 0 $shadow-primary;
    }
}

.salesP {
    .sales-show-more {
        background: $primary-rgba3;
        border: 2px solid $primary-color;
    }
    
    .button-content {
         background: $primary-rgba;
        color: $primary-color;
    }
    
    .sales-bottom_content:hover {
        .button-content {
            background: $primary-color;
             color: white;
             box-shadow: 0 2px 0 0 $shadow-primary;
        }
    }
}

.progressP {
    .translation-button {
        background: $primary-color;
    }
    
    .image-container {
        background: $primary-rgba1;
    }
    
    .show-more_button {
        background: $primary-rgba3;
        border: 2px solid $primary-color;
        
        &:hover {
            background: $primary-color;
        }
    }
}

.sales-inner {
    .show-more {
        &::before {
            background: $primary-color;
        }
    }
}

.onlineP {
    .camera-item {
        ::before {
            background: $primary-color;
        }
    }
}

.about-companyP {
    .left-content_item, .left-content_small {
        color: $font-blue;
    }
    
    .right-content_item {
        a {
            &::before {
                background: $primary-color;
            }
        }
    }
}

.corpus-select .corpus-interactive .corpus-desc {
    box-shadow: 0 2px 0 0 $font-grey,
                0 15px 35px 0 $primary-rgba4;
}

.corpus-select .corpus-interactive .corpus-desc .corpus-price {
    border-bottom: $primary-color;
}

.corpus-select .corpus-paginator_item {
    background: $primary-rgba3;
    
    a {
        border: 1px solid $primary-color;
        
        &:hover {
            background: $primary-color;
            box-shadow: 0 2px 0 0 $shadow-primary;
        }
        
        
    }
    .active-corpus {
            background: $primary-color;
            box-shadow: 0 2px 0 0 $shadow-primary;
        }
}

.corpus-select .selector-buttom {
    background: $primary-color;
}

.selector-detal {
    .tagline-link {
        &::before {
            background: $primary-color;
        }
    }
    
    .otdelka-check:checked + .otdelka-check_label {
        &::after {
             background: $primary-rgba5;
        }
        
        span {
            background: $primary-color;
            
            &::before {
                background: $primary-color1;
            }
            
            &::after {
                background: $primary-color1;
            }
        }
    }
    
    .selector-form_submit {
        background: $primary-rgba3;
        border: 1px solid $primary-color;
        
        &:hover {
            background: $primary-color;
        }
    }
    
    .selector-form {
        .form-button {
            background: $primary-rgba;
            border: 1px solid $primary-color;
            
            &:hover {
                background: white;
                color: $primary-color;
            }
        }
    }
    
    .active-button {
        background: $primary-color!important;
        color: white!important;
        box-shadow: 0 2px 0 0 $shadow-primary;
    }
    
    .range-fieldset {
        .sliderValue {
            &:focus {
                border-bottom: 1px solid $primary-color;
            }
        }
        
        .slider-wrap:hover {
            background: $primary-rgba6;
            
            .ui-state-default {
                background: $primary-color;
                border: 1px solid $primary-color;
                
                &:active {
                    background: white;
                    height: 12px;
                    width: 12px;
                    border: 2px solid $primary-color;
                    }
            }
            
            .ui-slider-range {
                background: $primary-color;
            }
        }
    }
}

.selector-table {
    .other-cell_button {
        .heart-cell {
            &:hover {
                background: $primary-color;
            }
        }
        
        .delete-cell {
            &:hover {
                background: $primary-color;
            }
        }
    }
}

.selector-center  {
    .paramet_item_blue {
        color: $font-blue;
    }
    
    .mdi-format-color-fill {
        color: $font-blue;
        
        &::before {
            color: $font-blue;
        }
    }
    
    .view-button {
        &:hover {
            background: $primary-rgba3;
            border: 1px solid $primary-color;
        }
        
        &:active {
            background: $primary-color;
            color: white;
        }
    }
    
    .view-active {
        background: $primary-color;
        color: white;
        
        &:hover {
            background: $primary-color;
            border: none;
        }
    }
    
    .bottom-right_button {
        a {
            &:hover {
                background: $primary-color;
            }
        }
    }
    
    .right-button_first, .right-button_second {
        background: $primary-color;
    }
    
    .mdi-cards-heart {
        &::before {
            color: $primary-color;
        }
    }
}

.offices {
    .offices-breadcrumbs {
        
        a {
            &::before {
                background: $primary-color;
            }
        }
    }
    
    .offices-second_right {
        .tel {
            &:hover {
                color: $primary-color;
            }
        }
    }
    
    .second-right_top {
        .tagline-link {
            &::before {
                background: $primary-color;
            }
        }
    }
    
    .mdi-map-marker {
        background: $primary-color;
    }
    
    .offices-item_bold a {
        &:hover {
            color: $primary-color;
        }
    }
    
    .offices-third_item {
        .tagline-link {
            &::before {
                background: $primary-color;
            }
        }
    }
    
    .offices-fourth,
    .offices-fifth {
        .tagline-link_center {
            &::before {
                background: $primary-color;
            }
        }
    }
}

.offices-modal_hint {
    .route-button {
        background: $primary-color;
    }
    
    .modal-map_button {
        &:hover {
            &:hover {
                background: $primary-color;
            }
        }
    }
}

.offices-modal_map .modal-map_button:hover {
    background: $primary-color;
}

.selector-center .right-button_first, .selector-center .right-button_first {
    background: $primary-color;
}

 .selector-center .right-button_second {
    background: white;
     border: 1px solid $primary-color;
}

@media screen and (max-width: 414px) {
    .features-top_list .features-top_item:not(:last-child) {
        border-right: none;
    }
    
    .activeMap {
        background: rgba(254,199,0,0.5)!important;
    }
}
